aws-cdk-lib==2.236.0
cdk-nag==2.37.55
cdk-opinionated-constructs==4.7.34
constructs==10.4.5
docutils==0.22.4
email-validator==2.3.0
pydantic==2.12.5
pydantic-core>=2.23.0
pydoctor==24.11.2
pyyaml==6.0.3
